@inherits LayoutComponentBase
<div class="page">
    
    <main>
        <article class="content px-4">
            <div class="bg-image"
                style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw1.webp'); height: 100vh;">
                @Body
            </div>
        </article>
    </main>

</div>
