@page "/weather"
@page "/"
@using WeatherForcast.Client.Components
@using WeatherForcast.Client.Components.Forcasts

<PageTitle>Weather</PageTitle>

<div> 
    <ErrorBoundary>               
        <ChildContent>
            <DailyForcast>
                <CurrentWeather/>                
            </DailyForcast>
        </ChildContent>
        <ErrorContent>
            <div>
                <h1 style="color: red;">Oops… something broke</h1>
            </div>
            <button type="button" class="btn btn-primary" @onclick="HandleReload">Try again!</button>
        </ErrorContent>
    </ErrorBoundary>
    
</div>
@code{
    private void HandleReload()
    {
        OnInitialized();
    }
}